.Navbar {
  background-color: white;
  height:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin:0;
  padding:0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-icon {
  opacity: 0.5;
  color:black;
}

.navbar-icon:hover {
  opacity: 1;
}
