.user-form-page {
  margin: 0 auto 0;
  max-width: 70%;
  width:800px;
}

.user-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}

.link {
  color: inherit;
  color: #fc5200;
}

.link:hover {
  color: black;
  font-weight: bold;
}