.user-form-container {
  margin: 0 auto 0;
  max-width: 70%;
  width:800px;
  height:100%;
}

.user-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}

.link {
  color: inherit;
  color: #fc5200;
}

.link:hover {
  color: black;
  font-weight: bold;
}

.correct {
  font-size: 12px;
  color: green;
  text-align: center;
}

.error {
  font-size: 12px;
  color: red;
  text-align: center;
}