a {
  text-decoration: none;
}

.btn-small{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
  height:30px;
  width:70px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.05);

}

.login-btn-small {
    color: #242428;
    background-color: white;
    border: 1px solid rgb(241, 240, 240);
}

.login-btn-small:hover {
  background-color: rgb(235, 235, 235);
}

.register-btn-small {
  color: white;
  background-color: #fc5200;;
}

.register-btn-small:hover {
  background-color: #b93e01;;
}
