.signup-page {
  margin: 0 auto 0;
  max-width: 70%;
  width:800px;
}

.user-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}

.user-input {
  margin:0;
  font-size: 20px;
  border: solid rgb(204, 201, 201) 2px;
  width: 100%;
  border-radius: 8px;
  height: 50px;
  box-sizing: border-box;
}

.user-input:focus {
  outline: none;
}

.user-input:focus-visible {
  border: 3px #fc5200 solid;
}

label:focus-within {
  font-weight: bold;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  line-height: 40px;
}

input {
  height: 20px;
  margin-top: 50px;
}


.submit-btn {
  margin: 50px 0 20px 0;
  color: white;
  background-color: #fc5200;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  font-weight: 550;
  font-size: 18px;
  width: 100%;
  height: 60px;
  border: none;
}

.submit-btn:hover,  .submit-btn:focus {
  opacity: 0.7;
  border:3px solid #fc5200;
  background-color: white;
  color: #fc5200;
}



.link {
  color: inherit;
  color: #fc5200;
}

.link:hover {
  color: black;
  font-weight: bold;
}